{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Player{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Player{% endtrans %}</h1>

    {{ include('player/_form.html.twig') }}

    <a href="{{ path('app_player_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
