{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Game{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Game{% endtrans %}</h1>

    {{ include('game/_form.html.twig') }}

    <a href="{{ path('app_game_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
