{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Grade{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Grade{% endtrans %}</h1>

    {{ include('grade/_form.html.twig') }}

    <a href="{{ path('app_grade_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
